<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Dolstagis.Core.Mail.SenderAddress" value="test@dolstagis.com" />
    <add key="Dolstagis.Core.Mail.SenderName" value="Dolstagis Test" />

    <add key="Dolstagis.Tests.Core.IntValue" value="1" />
    <add key="Dolstagis.Tests.Core.StringValue" value="Dolstagis" />
    <add key="Dolstagis.Tests.Core.BoolValue" value="true" />
    <add key="Dolstagis.Tests.Core.DateTimeValue" value="2013-01-29 07:34:00" />
    <add key="Dolstagis.Tests.Core.EnumValue" value="local" />

    <add key="Dolstagis.Tests.Core.BadDateValue" value="this is not a date" />
    <add key="Dolstagis.Tests.Core.BadIntValue" value="this is not an int" />
    <add key="Dolstagis.Tests.Core.BadEnumValue" value="this is not an enum" />
    <add key="Dolstagis.Tests.Core.BadBoolValue" value="this is not a Boolean" />
  </appSettings>
  
  <connectionStrings>
    <add name="Tests"
      connectionString="Data Source=:memory:;Version=3;New=True"
      providerName="System.Data.Sqlite"
    />
  </connectionStrings>
</configuration>
