<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Dolstagis.Core.Mail.SenderAddress" value="test@dolstagis.com" />
    <add key="Dolstagis.Core.Mail.SenderName" value="Dolstagis Test" />
  </appSettings>
  
  <connectionStrings>
    <add name="Tests"
      connectionString="Data Source=:memory:;Version=3;New=True"
      providerName="System.Data.Sqlite"
    />
  </connectionStrings>
</configuration>
