@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/User/Views/User/_Profile.cshtml";
}

<h2>Change your password</h2>

<form method="post">
  <fieldset>
    <legend>Your password</legend>
    <ul>
      <li>
        <input type="password" placeholder="Old password" name="oldPassword" />
      </li>
      <li>
        <input type="password" placeholder="New password" name="newPassword" />
      </li>
      <li>
        <input type="password" placeholder="Confirm" name="confirm" />
      </li>
      <li>
        <input type="submit" value="Change password" />
      </li>
    </ul>
  </fieldset>
</form>
<h3>How your password is stored</h3>
<p>
  We take your password security very seriously. Passwords are
  encrypted using a secure algorithm specifically designed for
  password storage. This is regularly reviewed and upgraded to
  newer, more secure alternatives as necessary.
</p>
<p>
  (Details for techies: we use @(ViewData["HashAlgorithm"])).
</p>
