@{
    ViewBag.Title = "Your password has been changed.";
    Layout = "~/Areas/User/Views/User/_Profile.cshtml";
}

<h2>Password Changed</h2>
<p>
  Your password has been changed successfully. Return to
  <a href="/user/profile">your profile</a> or to <a href="/">the application</a>.
</p>
