@{
    ViewBag.Title = "Password reset";
}

<h2>Password reset sent</h2>

<p>
  An e-mail has been sent to the e-mail address at which your account
  is registered with instructions on how to reset your password.
</p>
