@{
  this.Layout = "~/Views/Shared/_simple.cshtml";
  ViewBag.Title = "Forgotten your password?";
}


<h2>Forgotten your password?</h2>

<form method="POST">
  <p>
    Enter your user name or email address and we will send you
    a link to a page where you can reset your password:
  </p>

  <p>
    <input type="text" name="name" placeholder="Your name or email" />
    <input type="submit" />
  </p>

</form>
