@model Dolstagis.Accounts.UserSession
@using Dolstagis.Accounts;

@{
    ViewBag.Title = "Active sessions";
    Layout = "~/Areas/User/Views/User/_Profile.cshtml";
}

<h2>Your active sessions</h2>

<table>
  <tr>
    <th colspan="3">Your current session</th>
  </tr>
  @{Html.RenderPartial("partial/SessionRow", Model);}
  <tr>
    <th colspan="3">Your other sessions</th>
  </tr>
  @foreach (UserSession session in this.Model.User.Sessions
    .Where(x => x != this.Model)
    .OrderByDescending(x => x.DateLastAccessed)) {
    Html.RenderPartial("partial/SessionRow", session);
  }
</table>