@import "colours";
@import "topbanner";
@import "flash";

body {
    background-color: @background;
    color: @text;
    font: 10pt calibri, arial, helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#all {
    margin: 0em;
}


