@{
    this.Layout = "~/Views/Shared/_Layout.cshtml";
    Bundles.Reference("assets/css/2col.less");
}

<div class="two-col">
    <div class="left">
        @RenderSection("left", false)
    </div>
    <div class="body">
        @RenderBody()
    </div>
</div>
