@model IEnumerable<Dolstagis.Contrib.Auth.Models.User>
@{
    Layout = "~/Views/Shared/_2col.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Model.Any()) {
    <ul>
        @foreach (var user in Model) {
            <li>@user.UserID: @user.UserName</li>
        }
    </ul>
}
else {
    <p>No users found</p>
}
