@model Dolstagis.Contrib.Auth.User
<ul>
  <li>
    <a href="/user/profile">@Model.DisplayName</a>
  </li>
  @if (Model.CanInvite) {
    <li>
      <a href="/user/invite" id="navInviteAFriend">Invite a friend</a>
    </li>
  }
  @if (Model.IsSuperUser) {
    <li>
      <a href="/admin">Site admin</a>
    </li>
  }
  <li>
    <a href="/user/logout">Logout</a>
  </li>
</ul>