<form method="post">
    <p>
        <label for="newPassword">Choose a new password:</label>
        <input type="password" id="newPassword" name="newPassword" />
    </p>
    <p>
        <label for="confirmPassword">Confirm:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" />
    </p>
    <p>
        <input type="submit" value="Change password" />
    </p>
</form>
