@import "../core/core";
@import "../core/branding";

#topbanner {

    .clearfix();
    background-color: @topbanner-background;
    color: @topbanner-text;

    a {
        .tabs();
        color: @topbanner-text;
        display: block;
        padding: @widget-padding;

        &:hover {
            background-color: lighten(@topbanner-background, 25%);
        }
    }

    ul {
        float: right;
        width: auto;
        margin: @widget-padding 1em 0px 1em;
        padding: 0px;
        list-style-type: none;

        li {
            display: inline-block;
            width: auto;
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }
    }
}
